<div class="p-4 flex flex-column gap-5">
  <div>
    <h1 class="md:text-xl text-lg">{{ 'ABOUT_SHELL_PAGE.TITLE' | translate }}</h1>
    <p class="mb-1">{{ 'ABOUT_SHELL_PAGE.HIGHEST_ANGULAR_VERSIONS_SUPPORTED' | translate }}</p>
    <ul class="mb-3">
      @for (angularVersion of supportedAngularVersions; track angularVersion.name) {
      <li class="flex justify-between p-1">
        <span class="font-medium">{{ angularVersion.name }}:&nbsp;</span>
        <span class="text-gray-700"> Version {{ angularVersion.version }} </span>
      </li>
      }
    </ul>
  </div>
</div>
